<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
</style>

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
}

.container{
    width: 672px;
    margin: 0 400px;
}

.header-menu{
    padding: 21px 0 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;    
}

.nav-icon{
    padding-left: 34px;
}

.story{
    width: 672px;
    height: 164px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    margin: 30px 0;
    box-sizing: border-box;

}

.story-sign{
    display: flex;
    margin: 30px 28px;
}

.story-sign-item{
    margin-right: 30px;
}

.story p{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.post-1{
    height: 811px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
}

.post-1-header{
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
}

.post-header-icon{
    width: 36px;
    height: 36px;
    margin: 12px 16px 0 24px;
}

.post-text{
    display: inline-flex;
    margin-top: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
