
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
}

.container{
    width: 672px;
    margin: 0 400px;
}

.header-menu{
    padding: 21px 0 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;    
}

.nav-icon{
    padding-left: 34px;
}

.story{
    width: 672px;
    height: 164px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    margin: 30px 0;
    box-sizing: border-box;

}

.story-sign{
    display: flex;
    margin: 30px 28px;
}

.story-sign-item{
    margin-right: 30px;
}

.story p{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.post{
    height: 820px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid #c4c4c4
}

.post__header{
    height: 60px;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
}

.post-header-icon{
    width: 36px;
    height: 36px;
    margin: 12px 16px 0 24px;
}

.post-text-name{
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
    font-weight: 700;
}

.post-1-image{
    width: 100%;
    height: 640px;    
    border-bottom: 1px solid #c4c4c4;
}

.post__footer{
    padding: 26px;
}

.like{
    display: flex;
    align-items: center;
}

.like__image{
    margin-right: 16px;
}

.like__text{
    font-size: 16px;
    font-weight: 700;
}

.discription{
    display: flex;    
    align-items: center;
}

.discription__name{
    font-weight: 700;
    margin-right: 16px;
}
