body{
    background-color: #fafafa;
}

.header{
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #C4C4C4;
}

.container{
    width: 672px;
    margin: 0 400px;
}

.header-menu{
    padding: 21px 0 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;    
}

.nav-icon{
    padding-left: 34px;
}

.story{
    width: 672px;
    height: 164px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    margin: 30px 0;
}

.story-sign{
    display: flex;
    margin: 30px 28px;
}

.story-sign-item{
    margin-right: 30px;
}

.story p{
    margin: 0;
    text-align: center;
}

